<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Simon's Bakery Inventory Management</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h2>Update <%= item.name %></h2>
    <form action="/items/:id/edit" method="POST">
      <div>
        <label for="name">Item name:</label>
        <input type="text" name="name" id="name" value="<%= item.name %>" required/>
      </div>

      <div>
        <label for="unit">Choose a unit of measurement:</label>
        <select id="unit" name="unit">
          <option value="units">Units</option>
          <option value="bags">Bags</option>
          <option value="liters">Liters</option>
          <option value="pieces">Pieces</option>
          <option value="kg">Kilograms (kg)</option>
          <option value="sets">Sets</option>
        </select>
      </div>
      
      <div>
        <label for="count">Count: </label>
        <input type="number" name="count" id="count" value="<%= item.count %>" min="0" max="999">
      </div>

      <div>
        <label for="category">Choose a category:</label>
          <select id="category" name="category" value="<%= item.category_id %>">
            <% categories.forEach(category => {%>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
      </div>

      <div>
        <label for="supplier">Supplier: </label>
        <select name="supplier" id="supplier" value="<%= item.supplier_id %>">
          <% suppliers.forEach(supplier => {%>
            <option value="<%= supplier.id %>"><%= supplier.name %></option>
          <% }) %>
        </select>
      </div>

      <input type="submit" value="Submit item">
    </form>
    <script>
      const unitOption = document.querySelector(`#unit option[value="${'<%= item.unit %>'}"]`);
      unitOption.selected = true;
      const categoryOption = document.querySelector(`#category option[value="${<%= item.category_id %>}"]`);
      categoryOption.selected = true;
      const supplierOption = document.querySelector(`#supplier option[value="${<%= item.supplier_id %>}"]`);
      supplierOption.selected = true;
    </script>
  </body>
</html>
